<mat-form-field class="ui-field" [appearance]="appearance()">
    <mat-label>{{ label() }}</mat-label>
    <input
      matInput
      [type]="inputType()"
      [autocomplete]="autocomplete()"
      [placeholder]="placeholder()"
      [formControl]="control()"
    />

    <button
      mat-icon-button
      matSuffix
      type="button"
      [attr.aria-label]="hidden() ? 'Mostra password' : 'Nascondi password'"
      (click)="toggle()"
    >
      <mat-icon>{{ hidden() ? 'visibility' : 'visibility_off' }}</mat-icon>
    </button>

    <mat-error *ngIf="control().touched && control().hasError('required')">Campo obbligatorio</mat-error>
    <mat-error *ngIf="control().touched && control().hasError('minlength')">
      Minimo {{ control().errors?.['minlength']?.requiredLength }} caratteri
    </mat-error>
  </mat-form-field>